apps/dojango/media/dojo
*.prc
*.swo
*.pyc
*.swp
*.swn
*.swm
*.svn
*.swl
*.swk
.svn
*svn-base
settings.py
!apps/*/settings.py
pip-log.txt
dev.db
fabfile.py
workon_manabi.sh
reset_manabi_db.sh
*.bak
*.tar.gz
deploy
.DS_Store
